<div class="d-flex justify-content-center m-2">
    <h2>Dashboard</h2>
</div>
{{#if posts.length}}
{{#each posts}}
<div class='row ml-2 mr-2 mb-2'>
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>
                    <a href="/dashboard/edit/{{id}}" class="text-dark">{{title}}</a>
                </h5>
                <h6>Created {{format_date created_at}}</h6>
            </div>
            <div class="card-body">
                <p class="card-text">{{content}}</p>
            </div>
        </div>
    </div>
</div>
{{/each}}
{{/if}}
<div class='d-flex justify-content-center'>
    <button class="btn bg-dark text-light pb-2 mb-2">
        <a href="/dashboard/create-post" class="text-light">Create New Post</a>
    </button>
</div>