<div class='row ml-2 mr-2 mb-2'>
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h2>
                    Edit Post
                </h2>
            </div>
            <div class="card-body">
                <form class="edit-post-form">
                    <div>
                        <label for="post-title">Title:</label>
                        <input class="w-100" name="post-title" type="text" value="{{post.title}}" />
      
                    </div>
                    <div>
                        <label for="content">Content:</label>
                        <input class="w-100"name="post-content" type="text" value="{{post.content}}" />
                    </div>
                    <div class='d-flex justify-content-center'>
                        <button type="submit" class="btn bg-dark text-light m-2">Update post</button>
                        <button type="button" class="delete-post-btn btn bg-dark text-light m-2">Delete post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>